.main {
  padding: 0 2.5rem 0 2.5rem;
}

.title {
  display: flex;
  justify-content: center;
}

.propertyContainer {
  border: solid black 1px;
}

.property {
  border-bottom: solid gray 1px;
  height: 50px;
  display: flex;
}

.address {
  flex: 2;
}

.money {
  flex: 1;
  border-left: solid gray 1px;
}

.newRowContainer {
  margin-bottom: 8rem;
}

.newRowFields {
  border: solid blue 1px;
  height: 60px;
}

.newItemForm {
  display: flex;
  flex-direction: column;
}

.newAddressForm {
  display: flex;
}

.newAddressInput {
  flex: 1;
}

.newRentForm {
  display: flex;
  justify-content: space-around;
}
