.main {
  padding: 0 2.5rem 0 2.5rem;
}

.title {
  display: flex;
  justify-content: center;
}

.propertyContainer {
  border: solid black 1px;
}

.row {
  border-bottom: solid gray 1px;
  height: 50px;
  display: flex;
}

.address {
  flex: 2;
}

.money {
  flex: 1;
  border-left: solid gray 1px;
}